tt.*
.tests
doc/tags
debug
.repro
foo.*
*.log
data
/nvim.bak
.mono/
"Microsoft\\VisualStudio Services/
NuGet/
com.corsair/
configstore/
csharp.history
fish/
homebank/
nvim.bak3/
planetscale/
qBittorrent/
spicetify/
stetic/
wireshark/
xbuild/
yarn/
